{{template "layout.html" .}}

{{define "content"}}

<h1 class="text-3xl font-bold text-primary-content">WallpaperCL</h1>

<nav class="flex items-center justify-center w-full mx-auto join">
  <input type="text" class="w-full max-w-2xl input input-bordered join-item rounded-l-md" id="search-input"
    placeholder="Enter your search...">
  <select class="select select-bordered join-item rounded-r-md" id="mode-selection">
  </select>
</nav>

<ul
  class="w-full p-4 mx-auto border rounded-lg grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 place-items-center border-neutral"
  id="wallpaper-list">
</ul>
{{end}}
