.wallpaper__container{
  display: grid;
  min-width: 100%;
  min-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));
  place-items: center;
  gap: 1rem;
  padding:1em;
  border: 2.2px solid var(--pink-color);
  border-radius: var(--radius);
}

.wallpaper__container.fixed .wallpaper__wrapper{
  width: 30rem;
  height: 40rem;
}

.wallpaper__wrapper{
  align-items: center;
  width: 100%; 
  height: 100%;
  border: 2.2px solid var(--purple-color);
  &:hover{
    cursor:pointer;
    border-color: var(--pink-color);
  }
  border-radius: var(--radius);
}

.wallpaper__wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

